:root {
  --main-bg-dark : #06090E;
  --second-bg-dark: #040508;
  --third-bg-dark: #05070B;
  --second-text-clr: #1644C4;
  --gray-text-light: #84878B;
  --gray-text-dark: #4E545A;
  --second-text-clr: #06090E;
  --nav-bg-clr: #0D1015;
  --nav-focus-clr: #1F2329;
  --nav-text-clr: #919295;
  --contact-bg-clr-dark: #14161C;
  --contact-text-clr: #5C717F;
  --contact-placeholder-clr: #5C717F;
  --main-purple: #3D38AA;
  --ff-primary: Roboto, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-light: 300;
  --fw-semi-bold: 500;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
}

/* #box {
  width: 100%;
  height: 1.5rem;
} */

#Nav {
  display: flex;
  width: 50rem;
  justify-content: space-between;
  flex-direction: row;
  /* margin: 0 auto; */
  border: 1px solid black;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}

/* body {
  display: flex;
  justify-content: center;
} */

.btn {
  /* margin: 5px;
  margin-top: 3px; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mode {
  /* margin: 5px;
  margin-top: 3px;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; */
  /*padding: 8px;
  position: relative;
  top: 4px; */
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.mode:hover {
  background-color: rgb(243, 243, 243);
}

.contactbtn{
  background-color: white;
}

.contactbtn:hover {
  background-color: rgb(243, 243, 243);
}

.logo {
  margin: 5px;
}

.toggle {
  padding: 0;
  margin: 0;
  position: relative;
  top: 10px;
}

.darkmode {
  display: inline-block;
  width: 40px;
  height: 35px;
  position: relative;
  top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 4px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.darkmode:hover {
  
  background-color: rgb(243, 243, 243);
}

.right {
  display: flex;
  gap: 0.78rem;
  /* width: 200px; */
  /* padding: 5px; */
  /* background-color: #b1b2b6; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}

#wrapper{
  margin: 0;
  padding: 0;
  width: 45rem;
  /* margin: 0 auto; */
}

.Container {
  /* padding-top: 52px; */
  /* margin-top: 0; */
  margin-bottom: 8rem;
  width: 100%;
  /* padding-left: 40px;
  padding-right: 40px; */
}


.h11 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.p1 {
  /* padding-top: 4px; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}

.h22 {
  padding-top: 18px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.p2 {
  padding-top: 16px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 48px;
}

.h23 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.p3 {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.h24 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 16px;
  /* margin-top: 50px; */
}

.p4 {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 300;
  color: rgb(31,41,55);
  padding-bottom: 24px;
}

.p5 {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 300;
  padding-bottom: 128px;
}

.footerh1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 36px;
  padding-left: 16px;
}

.footerh2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.footer {
  margin-bottom: 112px;
}

.bluetext {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 600;
  text-decoration: none;
  color: #3b82f6;
}

/* c cpp python java html css javascript react git vscode */

.tools {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* .home {
  margin: 5px;
  margin-top: 3px;
  padding-top: 8px;
  padding-bottom: 8px ;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
/* 
.home {
  color: black;
  background-color: #f0f0f0;
  margin: 5px;
  margin-top: 3px;
  padding-top: 8px;
  padding-bottom: 8px ;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.home:hover {
  background-color: #e7e7e7;
}

.home {
  text-decoration: none;
  color: black;
}

.btn {
  font-family: var(--ff-primary);
} */

/* .Nav {
  padding-bottom: 7px;
  margin-bottom: 2px;
}

.contact:hover {
  background-color: #e7e7e7;
} */
.link {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.left {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* padding-top: 52px; *//* width: 100%; *//* display: flex; */
  /* padding-left: 40px;
  padding-right: 40px; */
.Container {
  padding-top: 4.09rem;
  margin-bottom: 8rem;
  width: 100%;
}


/* #Main {
  
  width: 45rem;
  display: flex;
  justify-content: center;
  
}

.content {
  width: 45rem;
  display: flex;
  justify-content: center;
  
} */

#Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Main {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* padding-top: 52px; *//* width: 100%; */
/* .Container {
  padding-top: 4.09rem;
  margin-bottom: 8rem;
  width: 45rem;
} */


.dark {
  background-color: rgb(0, 0, 0);
  color: white;
}

#Nav.dark {
  background-color: rgba(18,24,29,0.6);
  border: 1px solid rgb(30,41,59);  
}

.dark .btn {
  background-color: rgb(32, 36, 42);
  color: white;
}

/* .contactbtn {
  background-color: transparent;
} */

.dark .contactbtn {
  background-color: transparent;
}

.dark .contactbtn:hover {
  background-color: rgba(32, 36, 42,0.5);
}

.dark .nsvg {
  fill: white;
}

/* .dark .sun{
  fill: black;
} */

.dark .mode {
  background-color: transparent;  
}

.dark .mode:hover {
  background-color: rgb(32, 36, 42);  
}

.dark .tools {
  border: 1px solid rgb(30,41,59); 
}

.dark .p4 {
  color: white;
}

.dark .footerh1 {
  color: rgb(133, 135, 140);
}
.dark .footerh2 {
  color: rgb(83, 87, 93);
}

.dark hr{
  color: rgb(20, 27, 40);
}

/* .content{
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* #contactContainer {
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* #contactMain {
  width: 45rem;
  padding-top: 2rem;
} */

.dark .content {
  background-color: #040508;
}

.dark .content {
  background-color: black;
}

#cWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#cContainer {
  width: 45rem;
  /* display: flex;
  justify-content: center; */
}

#cContent {
  width: 100%;
  height: 885px;
  padding-top: 4.1rem;
}

.ch1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 0.75rem;
}

.cp1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1.49rem;
}

.cp2 {
  color: rgb(187, 187, 187);
}

.fun {
  padding-top: 0.20rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: white;
}

.time {
  font-weight: bold;
}

.cbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;  
  margin-bottom: 5rem;
}

.cp2 {
  margin-bottom: 2.5rem;
}

.grid1 {
  grid-column: span 2/ span 2;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.375rem;
}

.gridh1 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.emailbox {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
}

.emailbox:focus-visible {
  outline: auto;
}

.gridh2 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  width: 100%;
  height: 9rem;
  resize: vertical;
  margin-bottom: 1rem;
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.sendbtn {
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  border-radius: 9999px;
}

.dark .sendbtn {
  fill: white;
}

.sendtxt {
  margin-top: 2px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#sendicon {
  display: block;
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dark .sendbtn  {
  background-color:  rgb(61, 56, 170);
  border-color: rgb(75, 67, 217);
  color: white;
}

.grid2 {
  grid-row: auto;
}

.a1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.375rem;
}

/* .a1:hover {
  transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1);
  transition-duration: 0.15s;
} */

.svg1 {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.goto {
  width: 1.25em;
  height: 1.25em;
  display: block;
  font-size: 16px;
}

.githubh1 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

a {
  margin-top: 0;
}

.discord {
  color: #5865f2;
}

.mail {
  color: #1da1f2;
}

.dark .discord {
  color: #5865f2;
}

.dark svg #mail {
  color: #1da1f2;
}

.moon {
  font-size: 16px;
  color: white;
  height: 1.25rem;
  width: 1.25rem;
}