:root {
  --main-bg-dark : #06090E;
  --second-bg-dark: #040508;
  --third-bg-dark: #05070B;
  --second-text-clr: #1644C4;
  --gray-text-light: #84878B;
  --gray-text-dark: #4E545A;
  --second-text-clr: #06090E;
  --nav-bg-clr: #0D1015;
  --nav-focus-clr: #1F2329;
  --nav-text-clr: #919295;
  --contact-bg-clr-dark: #14161C;
  --contact-text-clr: #5C717F;
  --contact-placeholder-clr: #5C717F;
  --main-purple: #3D38AA;
  --ff-primary: Roboto, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-light: 300;
  --fw-semi-bold: 500;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
}

.Nav {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 24px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.btn {
  margin: 5px;
  margin-top: 3px;
  padding-top: 8px;
  padding-bottom: 8px ;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mode {
  margin: 5px;
  margin-top: 3px;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 8px;
  position: relative;
  top: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.mode:hover {
  background-color: rgb(243, 243, 243);
}

.contact{
  background-color: transparent;
}

.contact:hover {
  background-color: rgb(243, 243, 243);
}

.logo {
  margin: 5px;
}

.toggle {
  padding: 0;
  margin: 0;
  position: relative;
  top: 10px;
}

.darkmode {
  display: inline-block;
  width: 40px;
  height: 35px;
  position: relative;
  top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 4px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.darkmode:hover {
  
  background-color: rgb(243, 243, 243);
}

.right {
  display: flex;
  width: 200px;
  padding: 5px;
  /* background-color: #b1b2b6; */
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.Container {
  padding-top: 52px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.h11 {
  font-size: 48px;
}

.p1 {
  padding-top: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}

.h22 {
  padding-top: 18px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.p2 {
  padding-top: 16px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 48px;
}

.h23 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.p3 {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.h24 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 16px;
  /* margin-top: 50px; */
}

.p4 {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 300;
  color: rgb(31,41,55);
  padding-bottom: 24px;
}

.p5 {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 300;
  padding-bottom: 128px;
}

.footerh1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 36px;
  padding-left: 16px;
}

.footerh2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.footer {
  margin-bottom: 112px;
}

.bluetext {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 600;
  text-decoration: none;
  color: #3b82f6;
}

/* c cpp python java html css javascript react git vscode */

.tools {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 48px;
}